@use 'variables';
@use 'typography';

html {
  scroll-behavior: smooth;
}

body {
  @include font();
  letter-spacing: -0.2px;

  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;

  transition: all 100ms ease;

  color: $black;

  &.menuIsOpen {
    overflow: hidden;

    .overlay {
      visibility: visible;
    }
  }

  @media (max-width: 576px) {
    @include font(400, $md);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-title();
}

/*Overlay*/
.overlay {
  background-color: rgba(0, 0, 0, 0.4);

  position: fixed;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  z-index: 100;

  visibility: hidden;

  @media (min-width: 1120px) {
    display: none;
  }
}

/*Section Wrapper*/
.wrapper {
  padding: $size-xxl 0;
}

/*Section Background*/
.bg-gray {
  background-color: $gray;
}

.bg-primary-embanor {
  background-color: $blue-500 !important;
}

/*Section Contact*/
.contact {
  background-color: $black;
  background-image: url(../../images/bg-contact.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: $white;

  p {
    max-width: 75%;
  }
}

/*Section Banner*/
.page-banner {
  background-color: $black;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  height: 45vh;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  &>div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.call-to-action {
  background-color: $black;
  text-align: center;
}

.waves {
  background-color: $black;
  background-image: url(../../images/bg-waves.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*Hero*/
.hero-wrapper {
  .hero-image {
    padding: 0;
    img {
      @extend .responsive-image;
    }
  }

  .hero-content {
    max-width: 75%;
    margin: 0 auto;
  }
}

/*Pages*/
#home {
  #banner {
    background-color: $gray;
    background-image: url(../../images/banner-home.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;

    display: flex;
    align-items: center;

    .banner-content {
      max-width: 50%;

      h1 {
        margin-bottom: $size-md;
      }
    }
  }

  #products {
    background-color: black;
    padding: $size-xxl 0;

    .cards-product {
      margin-bottom: $size-xl;
    }
  }
}

#products-page {
  .card-project {
    padding: 0;
    background-color: $black;

    .card-project-image {
      width: 100%;
      height: 400px;

      img {
        @extend .responsive-image;
      }
    }
  
    .card-project-content {
      padding: 2rem 1rem;

      color: $white;
      text-align: center;
    }
  }
}

#contact {
  .page-banner {
    background-image: url(../../images/banner-contact.webp);
  }
}

#services {
  .page-banner {
    background-image: url(../../images/banner-services.webp);
  }
}
